<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" type="stylesheet"/>
    <title>Sequential</title>
</head>
<body>
    <div id="app">
        <div v-for="project in projects">
            <div class="row">
                <button v-on:click="project.display = 1">
                    Completed Tasks
                </button>
                <button v-on:click="project.display = 2">
                    Blocked Tasks
                </button>
                <button v-on:click="project.display = 0">
                    All Tasks
                </button>
            </div>
            <!--Display all tasks if project.display is 0-->
            <ul v-show="project.display === 0">
                <li v-for="task in project.tasks">
                    <task v-bind:task="task"></task>
                </li>
            </ul>
            <!--Display all completed tasks if project.display is 1-->
            <ul v-show="project.display === 1">
                <li v-for="task in project.completedTasks">
                   <task v-bind:task="task"></task>
                </li>
            </ul>
            <!--Display all blocked tasks if project.display is 2-->
            <ul v-show="project.display === 2">
                <li v-for="task in project.blockedTasks">
                    <task v-bind:task="task"></task>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/admin_view.js"></script>
</body>
</html>