<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <title>Sequential</title>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col">
                <button v-on:click="display = 1"> Completed Tasks </button>
            </div>
            <div class="col">
                <button v-on:click="display = 2"> Blocked Tasks </button>
            </div>
            <div class="col">
                <button v-on:click="display = 0"> All Tasks </button>
            </div>
        </div>
        <ul v-show="display == 0">
            <li v-for="task in tasks">
                <task v-bind:task="task"></task>
            </li>
        </ul>
        <ul v-show="display == 1">
            <li v-for="task in completedTasks">
                <task v-bind:task="task"></task>
            </li>
        </ul>
        <ul v-show="display == 2">
            <li v-for="task in blockedTasks">
                <task v-bind:task="task"></task>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/user_view.js"></script>
</body>
</html>