<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/admin_view.css" rel="stylesheet"/>
    <title>Sequential</title>
</head>
<body>
    <div id="app">
        <h1 class="set-width mx-auto">Tasks</h1>
        <div class="container mx-auto set-width-400 mt-2 mb-2">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" v-on:click="display = 1"> Completed Tasks </button>
                <button type="button" class="btn btn-secondary" v-on:click="display = 2"> Blocked Tasks </button>
                <button type="button" class="btn btn-secondary" v-on:click="display = 0"> All Tasks </button>
            </div>
        </div>
        <div v-show="display == 0">
            <task v-for="task in tasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
        <div v-show="display == 1">
            <task v-for="task in completedTasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
        <div v-show="display == 2">
            <task v-for="task in blockedTasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
    </div>
     <div class="col-sm-9 col-md-7 col-lg-5">
        <h5 class="card-title text-center"><b>Create a task</b></h5>
                                <form class="form-signin">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleTaskName" placeholder="Enter task name">


                                        <input placeholder="Your Date" type="date" class="form-control" id="exampleDueDate" placeholder="Enter due date">
                                    </div>
                                        
                                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>

                                        <!-- update the project data and  -->
    
                                </form>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/user_view.js"></script>
</body>
</html>