<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/admin_view.css" rel="stylesheet"/>
    <title>Sequential</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account_settings.html">User Settings</a>
                </li>
            </ul>
        </div>
    </nav>
   <div id="app">
        <h1 class="set-width mx-auto">Tasks</h1>
        <div class="container mx-auto set-width-400 mt-2 mb-2">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" v-on:click="display = 1"> Completed Tasks </button>
                <button type="button" class="btn btn-secondary" v-on:click="display = 2"> Blocked Tasks </button>
                <button type="button" class="btn btn-secondary" v-on:click="display = 0"> All Tasks </button>
            </div>
        </div>
        <input class="mt-1 form-control centered-auto-margin w-50" type="text" id="search" v-model="search" placeholder="Search your tasks here!"/> 
        <div v-show="display == 0">
            <task v-for="task in searchedTasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
        <div v-show="display == 1">
            <task v-for="task in completedTasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
        <div v-show="display == 2">
            <task v-for="task in blockedTasks" v-bind:key="task.id" v-bind:task="task"></task>
        </div>
     

                <div class="w-50 centered-auto-margin">
                    <div class="card card-signin my-5">
                    <div class="card-body">
                      <h5 class="card-title text-center"><b>Create New Task</b></h5>
                        <form class="form-signin">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleTaskName" placeholder="Enter task name">


                                <input placeholder="Your Date" type="date" class="form-control" id="exampleDueDate">
                            </div>
                                
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" v-on:click="task.create = !task.create">Create Task</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/user_view.js"></script>
</body>
</html>