img{
    height: 100px;
    width: 100px;
}
.container{
    margin:0px;
}
.set-width{
    width: 100px;
}

.set-width-400{
    width: 400px;
}
.blocked{
    color:#fff;background-color:#dc3545;
    padding:.25rem .5rem;font-size:.875rem;line-height:1.5;border-radius:.2rem;
    border-style:thick;
    border-color:red;
}

.done{
    color:#fff;background-color:green;
    padding:.25rem .5rem;font-size:.875rem;line-height:1.5;border-radius:.2rem;
    border-style:thick;
    border-color:green;
}

.centered-text-align{
    text-align: center;
}

.centered-auto-margin{
    margin:0 auto;
}